*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.full{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(img.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}

.nav-logo img{
    width: 50px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.social-icon a{
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.isi{
  width: 65%;
  margin-left: 15% ;
}
.social-icon{
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 80px;
    background: orange;
    text-align: center;
    position: fixed;
}
.social-icon .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.banner-title span{
    color: orange;
}
footer{  
    width: 100%;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    background: #333333;
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.isi h1{
    font-size: 28px;
    color: wheat;
    text-transform: uppercase;
}
.isi p{
    font-size: 20px;
    padding-top: 2rem;
    color: wheat;
}