*{
    margin: 0;
    padding: 0;
    font-size:'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(img.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}
.login-container{
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    width: 25%;
    margin-left: 37.5%;
    border:1px solid #999;
    border-radius: 10px;
}
form h2{
    font-size: 28px;
    text-transform: uppercase;
    margin: 10px 0;
    margin-bottom: 20px;
    color: rgb(255, 170, 170);
}

.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 25px 0;
    padding: 5px 0;
    left: 10%;
    width: 85%;
    border-bottom: 2px solid #999;
}

.input-div.one{
    margin-top: 0;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i{
    color: rgb(255, 255, 255);
    transition: .3s;
}
.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div h5{
    position: absolute;
    left: 10px;
    top: -5px;
    transform: translateY(-50%);
    color:rgb(206, 73, 73);
    font-size: 15px;
    transition: .3s;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(206, 73, 73);
}
.input-div:hover, .input-div:focus{
    color: #5d78cf;
      background:none;
      border-color: rgb(253, 122, 122);
      outline: none;
}
.btn{
    width: 40%;
    height: 40px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: #999;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ffffff, #f5aaff);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .5s;
}

.btnn{
    width: 40%;
    height: 40px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: #999;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #d46363, #d14545);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
}

.btn:hover{
    background-position: right;
}
.btnn:hover{
    background-position: right;
}
footer{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    background: #333333;
    color: #fff;
    position: fixed;
    bottom: 0px;
    text-align: center;
}